header{
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  align-items: flex-start;
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: helvetica;
}
.header{
  
  align-items: flex-start;
  text-align: center;
  color: white;
  font-size: 23px;
  font-family: helvetica;
}
h1{
  font-size: 70px;
  font-style: bold;
}
h2{
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
}
html{
  text-align: center;
}
.verbs{
  font-family: helvetica;
  font-size: 23px;
  font-weight: bold;
}
p{
font-size: 14px;
font-family: helvetica;
}
